---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Emil Jabłonowski | 404">
	<main>
		<div>
			<h1>404 Nie znaleziono</h1>
			<br />
			<h3>Na dole są dostępne strony.</h3>
		</div>
		<br />
	</main>
</Layout>
