---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Emil Jabłonowski">
	<main>
		<div>
			<h1>Emil Jabłonowski</h1>
			To jest moja strona
			<h2>Moje projekty:</h2>
			<ul>
				<li><a href="/projekty/iseven">IsEven</a></li>
				<!--<li><a href="/projekty/projekt2">Projekt 2</a></li>
				<li><a href="/projekty/projekt3">Projekt 3</a></li>-->
			</ul>
		</div>
	</main>
</Layout>
