---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Emil Jabłonowski | Technologie">
	<main>
		<div>
			<h1>Użyte Technologie</h1>
			<img src="https://skillicons.dev/icons?i=sass,astro,git,github,vscode" />
		</div>
	</main>
</Layout>
