<navbar>
	<!-- Stopka -->
	<p>
		Emil Jabłonowski,
		<a href="mailto:justanjunkmail@icloud.com"> justanjunkmail@icloud.com</a>,

		<a href="/"> Strona Główna</a>,

		<a href="/technologie"> Technologie</a>
	</p>
</navbar>
